.NavBarContainer {
  background-color: aquamarine;
  display: flex;
  font-size: 21px;
  justify-content: space-around;
}

.BudgetAppLink {
  text-decoration: none;
}

.TransactionButton {
    height: 80px;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 10px;
}
