.NavBarContainer {
  background-color: aquamarine;
  display: flex;
  font-size: 21px;
  justify-content: space-around;
}

.BudgetAppLink {
  text-decoration: none;
}

.TransactionButton {
  height: 60px;
  margin: 20px;
  /* padding-bottom: 10px; */
  /* padding-bottom: 45px; */
  background-color: aquamarine;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  /* display: inline-block; */
  /* text-align: center;
  vertical-align: middle; */
  padding: 8px 3px 5px 8px;
}
