.NavBarContainer {
  background-color: gold;
  display: flex;
  font-size: 21px;
  justify-content: space-around;
  margin: 0;
}

.NavBarContainer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin-top: 25px;
  /* border: 5px solid black; */
}
button > a {
  text-decoration: none;
}

a {
  color: black;
}

.TransactionButton {
  height: 60px;
  margin: 20px;
  background-color: gold;
  border-radius: 40px;
  border: 2px solid black;
  box-shadow: 2px 4px rgba(54, 53, 53, 0.7);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 21px;
  padding: 12px 15px 15px 15px;
}
