.TransactionDeets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: auto;
  font-size: 21px;
  padding: 15px;
}

#GoBackButton {
    width: 50%;
    height: 50%;
    background-color: gold;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 4px rgba(54, 53, 53, 0.7);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }

  #GoBackButton > button {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: bold;
    background-color: gold;
    border: 0;
  }