.TransactionsHeader {
  text-align: center;
}

.BankTransactionsTable {
  border-collapse: collapse;
  width: 55vw;
}

.BankTransactionsTable td,
.BankTransactionsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.BankTransactionsTable tr:hover {
  background-color: #ddd;
}

.BankTransactionsTable th {
  text-align: center;
  background-color: gold;
  color: black;
}

.BankTransactionsTable {
    margin: auto;
}

td > a:visited {
  color: green;
}

